<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Otp-Verification</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
	<div class="d-flex justify-content-center align-items-center continer">
		<div class="card py-5 px-3">
			<h5 class="m-0">Sent OTP Your On Registered Email For verification</h5>
			<span class="mobile-text"><b>Enter the code we just sent on your Registered Email </b>
			</span>
			<br>
			<class="text-color"><span th:text="${requestEmialId}"></span>

				<div class="d-flex flex-row mt-5">
					<form action="/forgot/velidate" method="post">
						<input type="number" class="form-control" autofocus="" placeholder="Enter OTP" minlength="6"
							maxlength="6" pattern="[0-9]{6}" title="Please enter a 6-digit OTP" required="true"
							name="otp" />

						<button type="submit">Validate</button>
					</form>
				</div>
				<div class="text-center mt-5">
					<span class="d-block mobile-text" id="countdown"></span>
					<span class="d-block mobile-text" id="resend"></span>
				</div>
		</div>
	</div>
	<script src="main.js"></script>
</body>

</html>