<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<style>
		.response-field {
			margin-bottom: 10px;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">BASIC-ERP</a>
		<li class="nav-item">
			<a class="nav-link" href="http://localhost:9090/coupon/list">Home</a>
		</li>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:9090/coupon/register/page">Create Coupon</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:9090/profile"><span
							class="glyphicon glyphicon-user"></span> Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="http://localhost:9090/logout"><span
							class="glyphicon glyphicon-log-in"></span> Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container mt-5">
		<div class="response-field">
			<form id="passwordUpdateForm" method="post" onsubmit="return validateForm()">
				<label for="oldPassword">Please Enter Old Password:</label>
				<input type="password" id="oldPassword" name="oldPassword" required><br><br>
				<label for="newPassword">Please Enter New Password:</label>
				<input type="password" id="newPassword" name="newPassword" required><br><br>
				<label for="confirmPassword">Please Confirm New Password:</label>
				<input type="password" id="confirmPassword" name="confirmPassword" required><br><br>
				<div id="passwordMismatch" style="color: red; display: none;">
					New password and confirmation password do not match.
				</div>
				<button type="submit">Update</button>
			</form>

			<script>
				function validateForm() {
					var newPassword = document.getElementById("newPassword").value;
					var confirmPassword = document.getElementById("confirmPassword").value;

					if (newPassword !== confirmPassword) {
						document.getElementById("passwordMismatch").style.display = "block";
						return false;
					} else {
						document.getElementById("passwordMismatch").style.display = "none";
						window.location.href = "http://localhost:9090/password/update";
						return true;
					}
				}
			</script>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>