<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en" class="light-style customizer-hide" dir="ltr"
	data-theme="theme-default" data-assets-path="../../assets/" data-template="horizontal-menu-template-no-customizer">

<head>
	<meta charset="utf-8" />
	<title th:text="${title}"></title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f0f0f0;
			margin: 0;
			padding: 20px;
		}

		.message-container {
			background-color: #fff;
			border-radius: 10px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
			padding: 20px;
			max-width: 400px;
			margin: 0 auto;
		}

		.message-title {
			font-size: 24px;
			color: #333;
			margin-bottom: 10px;
		}

		.message-content {
			font-size: 18px;
			color: #555;
		}
	</style>
</head>

<body>
	<!-- Content -->

	<div class="authentication-wrapper authentication-basic px-4">
		<div class="authentication-inner py-4">
			<!-- Verify Email -->
			<div class="card">
				<div class="card-body">
					<!-- Logo -->
					<div class="app-brand justify-content-center mb-4 mt-2">
						<a href="index.html" class="app-brand-link gap-2">
							<span class="app-brand-logo demo">
								<svg width="32" height="22" viewBox="0 0 32 22" fill="none" </svg>
							</span>
							<span class="app-brand-text demo text-body fw-bold ms-1">Vuexy</span>
						</a>
					</div>

					<div class="message-container">
						<h2 th:text="${message}"></h2>
						<h6 th:text="${details}"></h6>
						<p>Click <a th:href="${url}" th:text="${button}"></a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>