<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Forgot Password</title>
</head>
<body>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
		<img src="cid:nrtLogo" alt="Nrt company Logo" style="max-width: 100px;">
		<h2>Forgot Password</h2>
		<p>Dear</strong> <span th:text="${username}"></span></p>
		<p>We received a request to reset your password. Please use the following OTP to proceed:</p>
		<h3><span id="otp"></span></strong> <span th:text="${OTP}"></h3>
		<p>If you didn't request this, you can safely ignore this email.</p>
		<p>If you have any questions or need assistance, feel free to contact us.</p>
        <p>Contact-email: <b>basic.erps@gmail.com</b></p>
		<p>Regards,<br>Newrise Technosys</p>
	</div>

</body>

</html>