<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Updated</title>
</head>
<body>
   <body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
    <div style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
      <img src="cid:nrtLogo" alt="Nrt company Logo" style="max-width: 100px;">
        <h2>Password Updated</h2>
        <p>Dear <span id="username"></span><span th:text="${username}"></span></p>
        <p>Your password has been successfully updated.</p>
          <p>Your new <strong>Password:</strong> <span th:text="${password}"></p>
        <p>If you did not initiate this change, please contact us immediately.</p>
        <p>If you have any questions or need assistance, feel free to contact us.</p>
        <p>Contact-email: <b>basic.erps@gmail.com</b></p>
        <p>Regards,<br>Newrise Technosys</p>
    </div>
</body>
</html>
